@import './blanks/input-header/input-header.scss';
@import './date-dropdown/date-dropdown.scss';
@import './dropdown/dropdown.scss';
@import './subscription-text-field/subscription-text-field.scss';
@import './expandable-checkbox/expandable-checkbox.scss';
@import './advantage-item/advantage-item.scss';

.form-elements {
    position: relative;
    padding: 143px 141px;
}
.main-icon {
    position: absolute;
    left: 30px;
    top: 30px;
}
.form-elements .input {
    margin-bottom: 19px;
}
.form-elements .input:nth-child(4) {
    margin-bottom: 21px;
}
.form-elements .input:nth-child(7) {
    margin-bottom: 42px;
}
.form-elements .input:nth-child(8) {
    margin-bottom: 98px;
}
.form-elements .input:nth-child(9) {
    margin-bottom: 19px;
}
.form-elements .input:nth-child(10) {
    margin-bottom: 158px;
}
.form-elements .input:nth-child(11) {
    margin-bottom: 20px;
}
.form-elements .input:nth-child(12) {
    margin-bottom: 272px;
}
.form-elements .advantage {
    margin-bottom: 20px;
}
.wrapper_320 {
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
