@import './blanks/input-header/input-header.scss';
@import './date-dropdown/date-dropdown.scss';
@import './dropdown/dropdown.scss';
@import './subscription-text-field/subscription-text-field.scss';
@import './expandable-checkbox/expandable-checkbox.scss';
@import './advantage-item/advantage-item.scss';
@import './checkbox-buttons/checkbox-buttons.scss';
@import './radio-buttons/radio-buttons.scss';
@import './toggle/toggle.scss';
@import './like-button/like-button.scss';

.form-elements {
    position: relative;
    padding: 143px 141px;
    display: flex;
}
.main-icon {
    position: absolute;
    left: 30px;
    top: 30px;
}
.form-elements .col:nth-child(3) {
    padding-left: 126px;
    margin-top: -14px;
    .input:nth-child(1) {
        margin-bottom: 26px;
    }
    .input:nth-child(2) {
        margin-bottom: 17px;
    }
    .input:nth-child(3) {
        margin-bottom: 17px;
    }
}
.form-elements .input {
    margin-bottom: 19px;
}
.form-elements .input:nth-child(4) {
    margin-bottom: 21px;
}
.form-elements .input:nth-child(7) {
    margin-bottom: 42px;
}
.form-elements .input:nth-child(8) {
    margin-bottom: 98px;
}
.form-elements .input:nth-child(9) {
    margin-bottom: 159px;
}
.form-elements .input:nth-child(10) {
    margin-bottom: 19px;
}
.form-elements .input:nth-child(11) {
    margin-bottom: 272px;
}
.form-elements .input:nth-child(12) {
    margin-bottom: 272px;
}
.form-elements .input:nth-child(14) {
    margin-bottom: 25px;
}
.form-elements .advantage {
    margin-bottom: 20px;
}
.wrapper_320 {
    width: 320px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
