include blanks/widget-header/widget-header.pug
include text-field/text-field.pug
include dropdown/dropdown.pug
include date-dropdown/date-dropdown.pug
include subscription-text-field/subscription-text-field.pug
include expandable-checkbox/expandable-checkbox.pug
include advantage-item/advantage-item.pug
//- include checkbox-buttons/checkbox-buttons.pug
//- include radio-buttons/radio-buttons.pug
//- include toggle/toggle.pug
//- include blanks/checkbox/checkbox.pug
//- include like-button/like-button.pug
//- include rate-button/rate-button.pug
//- include rich-checkbox-buttons/rich-checkbox-buttons.pug
//- include review-item/review-item.pug
//- include range-slider/range-slider.pug
//- include  button/button.pug
//- include pagination/pagination.pug
//- include bullet-list/bullet-list.pug

section.form-elements
  img.main-icon(src=('./main-icon.svg') alt='main-icon' height=48 width=48)
  .col
    +text-field({class:"input_type_320", left_heading:"text field", right_heading: "default",placeholder: "Email", type: "Email"})
    +text-field({class:"input_type_320", left_heading:"text field", right_heading: "Hover / Focus", value: "This is pretty awesome"})
    +dropdown({class: "input_type_320", left_heading:"dropdown", inner_text: "Сколько гостей", items: {"Взрослые":0,"Дети":0, "Младенцы":0}})
    +text-field({class: "input_type_320", mask: '00.00.0000', left_heading:"masked text field",placeholder: "ДД.ММ.ГГГГ"}) 
    .wrapper_type_320 
      +date-dropdown({class: "input_type_150", left_heading:"date dropdown", inner_text: "ДД.ММ.ГГГГ"})
      +date-dropdown({class: "input_type_150", left_heading:"date dropdown", inner_text: "ДД.ММ.ГГГГ",initial_value: "19.08.2019"})
    +date-dropdown({class: "input_type_266 js-input_type_range-ddd", left_heading:"filter date dropdown", inner_text: "ДД МММ - ДД МММ", initial_value: "19 авг - 23 авг"})
    +subscription-text-field({class: "input_type_266", left_heading:"subscription text field",placeholder: "Email", width: "266"})
    +dropdown({class: "input_type_266 input_type_expandable", left_heading:"dropdown", right_heading: "default",inner_text: "Конфигурация номера", items: {"спальни":2,"кровати":2, "ванные комнаты":0}})
    +dropdown({class: "input_type_266 input_type_expandable input_expanded js-input_expanded", left_heading:"dropdown", right_heading: "expanded",inner_text: "Конфигурация номера", items: {"спальни":2,"кровати":2, "ванные комнаты":0}})
    +expandable-checkbox({class: "input_type_266",inner_text: "expandable checkbox list",input_type: "checkbox", items: {"Завтрак":false,"Письменный стол":true, "Стул для кормления":true,"Кроватка": true,"Телевизор":false,"Шампунь":false}})
    +expandable-checkbox({class: "input_type_266 input_expanded js-input_expanded", inner_text: "expandable checkbox list",input_type: "checkbox", items: {"Завтрак":false,"Письменный стол":true, "Стул для кормления":true,"Кроватка": true,"Телевизор":false,"Шампунь":false}})
    +advantage-item({icon: "insert_emoticon", title: "Комфорт", text: "Шумопоглощающие стены"})
    +advantage-item({icon: "location_city", title: "Удобство", text: "Окно в каждой из спален"})
  //- .col
  //-   +checkbox-buttons({class: "_type_cbb input_type_222",inner_text: "checkbox buttons",input_type: "checkbox", items: {"Можно курить":false,"Можно с питомцами":true, "Можно пригласить гостей (до 10 человек)":true}})
  //-   +radio-buttons({class: "input_type_rb",inner_text: "radio buttons",input_type: "radio", items: {"Мужчина":true,"Женщина":false}})
  //-   +toggle({class: "input_type_tog input_type_266",input_type: "checkbox", inner_text: "toggle", items: {"Получать спецпредложения":true,"Получать cпецпредложения":false}})
  //-   +widget-header({left_heading:"like button",class: "_service"})
  //-   .wrapper_type_320 
  //-     +like-button({name: "Post id", value: 2, checked: false})
  //-     +like-button({name: "Another post id", value: 12, checked: true})
  //-   +widget-header({left_heading:"rate button",class: "_service"})
  //-   .wrapper_type_320
  //-     +rate-button({class: "input_type_rat input_type_266", inner_text: "rate button",id: "id", value: 4})
  //-     +rate-button({class: "input_type_rat input_type_266", inner_text: "rate button",id: "other id", value: 5})
  //-   +dropdown({class: "input_type_320 input_expanded input_type_expandable", left_heading:"dropdown", btnHiden: false, inner_text: "Сколько гостей", maxTotal: 20, items: {"взрослые":0,"дети":0, "младенцы":0} , commonText:"гость,гостя,гостей", distinctIndex: 2, distinctForms: "младенец,младенца,младенцев"})
  //-   +rich-checkbox-buttons({class: "input_type_rich input_type_266",inner_text: "rich checkbox buttons",input_type: "checkbox", items: {"Широкий коридор&Ширина коридоров в номере<br /> не менее 91 см.":false,"Помощник для инвалидов&На 1 этаже вас встретит специалист  и проводит до номера.":false}})
  //- .col
  //-   +range-slider({left_heading:"Range Slider",class: "_service"})
  //-   +widget-header({left_heading:"buttons",class: "_service"})
  //-   .wrapper_type_320
  //-     +button({class: "_99 _filled", text: "click me"})
  //-     +button({class: "_99 _filled", text: "click me", disabled: true})
  //-   .wrapper_type_320
  //-     +button({class: "_99 _contoured", text: "click me"})
  //-     +button({class: "_99 _contoured", text: "click me", disabled: true})
  //-   .wrapper_type_320
  //-     +button({class: "_borderless", text: "click me"})
  //-     +button({class: "_borderless", text: "click me", disabled: true})
  //-   +button({class: "input_type_320 _filled _type_arrow", text: "перейти к оплате"})
  //-   +widget-header({left_heading:"pagination",class: "_service"})
  //-   +pagination()
  //-   +dropdown({class: "input_type_320 input_expanded input_type_expandable", left_heading:"dropdown", btnHiden: false, inner_text: "Сколько гостей", maxTotal: 20, items: {"взрослые":2,"дети":1, "младенцы":0} , commonText:"гость,гостя,гостей", distinctIndex: 2, distinctForms: "младенец,младенца,младенцев"})
  //-   +widget-header({left_heading:"bullet list",class: "_service"})
  //-   +bullet-list({items:["Нельзя с питомцами","Без вечеринок и мероприятий","Время прибытия — после 13:00,<br>а выезд до 12:00"]})
  //- +e.wrapper-for-review
  //-   +review-item({class: "",name: "Мурад Сарафанов", last_visit: 5, icon_url: "./img/murad.png", likes:{name: "Murad id",value:12, checked: true}, content: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."})
