include textField/textField.pug
include select/select.pug
section.form-elements
  img.main-icon(src=('./main-icon.svg') alt='main-icon' height=48 width=48)
  +textField({class:"form-elements__input-wrapper",type:"email",placeholder:"Email",before:"text field", after:"default"})
  +textField({class:"form-elements__input-wrapper",type:"email",placeholder:"Email",before:"text field",after:"hover / focus",value:"This is pretty awesome"})
  +select({class:"form-elements__input-wrapper",before: "dropdown", guests: 3})
    