@import "./input-header/input-header.scss";
@import "./textField/textField.scss";
@import "./select/select.scss";

.form-elements {
  position: relative;
  padding: 143px 141px;
}
.main-icon {
  position: absolute;
  left: 30px;
  top: 30px;
}
.form-elements .input {
  margin-bottom: 19px;
}
