include textField/textField.pug
include dropdown/dropdown.pug
include masked-text-field/masked-text-field.pug
include date-dropdown/date-dropdown.pug

section.form-elements
  img.main-icon(src=('./main-icon.svg') alt='main-icon' height=48 width=48)
  +text-field({left_heading:"text field", right_heading: "default",placeholder: "Email", type: "Email"})
  +text-field({left_heading:"text field", right_heading: "Hover / Focus", value: "This is pretty awesome"})
  +dropdown({left_heading:"dropdown", inner_text: "Сколько гостей", items: ["Взрослые","Дети", "Младенцы", "Ещё что-то"]})
  +masked-text-field({left_heading:"masked text field",placeholder: "ДД.ММ.ГГГГ"}) 
  +e.wrapper._320 
    +date-dropdown({left_heading:"date-dropdown", inner_text: "ДД.ММ.ГГГГ", width: "150"})
    +date-dropdown({left_heading:"date-dropdown", inner_text: "19.08.2019", class: "range", width: "266"})