include textField/textField.pug
//- include select/select.pug
//- include ../../../bemto/bemto.pug
section.form-elements
  img.main-icon(src=('./main-icon.svg') alt='main-icon' height=48 width=48)
  +text-field({left_heading:"text field", right_heading: "default"})
    