@import "../../colors&type/colors&type.scss";
.input {
  display: flex;
  flex-direction: column;
  &__body {
    .input__field {
      height: 44px;
    }
    .input__field_default {
      width: 320px;
    }
  }
}
