include ../blanks/widget-header/widget-header.pug
include ../blanks/input-body/input-body.pug
mixin text-field(opt={})
  +b.input._320
    +widget-header(opt)
    +input-body()
      +e.INPUT.field(type!=opt.type, placeholder!=opt.placeholder, value!=opt.value)

     
    
    