{
  "parser": "@babel/eslint-parser",

  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "class-methods-use-this": [
      "error",
      { "exceptMethods": ["total", "isEmpty", "submit", "vividLabel"] }
    ]
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  }
}
