.form-elements__select {
  select {
    appearance: none;
  }
  &::after {
    content: "d";
    font-size: 24px;
    width: 32px;
    height: 32px;
    color: $Dark-Shade-50;
    position: absolute;
    top: 5px;
    right: 10px;
  }
}
