include ../blanks/input/input.pug
mixin text-field(opt={})
  - opt.class = opt.class + " input_type_txt"
  +input(opt)
    +e.INPUT.field(type="text", placeholder!=opt.placeholder, value!=opt.value, data-mask!= opt.mask)

     
    
    