include ../blanks/input/input.pug
mixin text-field(opt={})
  - opt.class=opt.class ? opt.class+ " input_type_txt" : "input_type_txt"
  +input(opt)
    input.input__field.js-input__field(class=opt.mask ? "js-input__field" : "", type=opt.type || "text", placeholder!=opt.placeholder, value!=opt.value, data-mask!= opt.mask) 

     
    
    