include ../blanks/input/input.pug
mixin text-field(opt={})
  - opt.class=opt.class + " _type_txt"
  +input(opt)
    +e.INPUT.field(class=opt.mask ? "js-input__field" : "", type="text", placeholder!=opt.placeholder, value!=opt.value, data-mask!= opt.mask) 

     
    
    