@import '../../colors&type/colors&type.scss';
@import '../blanks/checkbox/checkbox.scss';

.input_type_cbb {
    .input__body {
        flex-direction: column;
        fieldset.input__description {
            flex-direction: column;
        }
        .input__checkbox-item {
            padding-top: 3px;
            line-height: 18px;
            input + .input__checkbox {
                top: 2px;
                border-radius: 4px;
            }
            input:checked + .input__checkbox {
                border: 1px solid $Purple;
                background: url('./img/Vector.png') no-repeat center;
            }
        }
    }
}
