@import '../../../colors&type/colors&type.scss';
.input__arrow-button {
  * {
    box-sizing: border-box;
  }
  align-self: stretch;
  cursor: pointer;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  .input__button-icon {
    padding: 0;
    font-family: 'Material Icons';
    color: $Dark-Shade-50;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: 0px;
    margin-right: -10px;
  }
}
.input_expanded .input__arrow-button .input__button-icon {
  transform: rotate(180deg);
  margin-top: 2px;
}
