include ../widget-header/widget-header.pug
include ../input-body/input-body.pug
mixin input(opt={})
  - const classes=opt.class 
  - const classArr=classes.split(" ");
    +b.input(class=opt.class)
      if classArr.some((el) => el.match(/^js-/))
        - opt.class= "js-input__body"
      else 
        - opt.class= ""
      if opt.left_heading || opt.right_heading
        +widget-header({left_heading:opt.left_heading,right_heading: opt.right_heading})
        +input-body(opt)
          if block 
            block
      else
        +input-body(opt)
          if block 
            block
      
