@import '../../colors&type/colors&type.scss';
@import './pagin.scss';

.pagination {
    .paginationjs {
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 12px;
        font-weight: 700;
    }
}
