
mixin checkbox(opt)
  +b.input._type_chkbx(class=opt.class)
    +e.body
      +e.placeholder()= opt.inner_text
      +e({tag: "fieldset"}).description
        - var n=0
          each val, key in opt.items
              +e.LABEL.checkbox-item= key
                +e.INPUT(type!=opt.input_type, name!=Object.getOwnPropertyNames( opt.items)[0], value= key, checked!=val)
                +e.SPAN.checkbox