mixin checkbox(opt)
  .input.input_type_chkbx(class=opt.class)
    .input__body.js-input__body
      .input__placeholder= opt.inner_text
      FIELDSET.input__description
        - let n=0
          each val, key in opt.items
              LABEL.input__checkbox-item.js-input__checkbox-item= key
                INPUT.input__checkbox-field(type!=opt.input_type, name!=Object.getOwnPropertyNames( opt.items)[0], value= key, checked!=val)
                SPAN.input__checkbox.js-input__checkbox