@import '../../colors&type/colors&type.scss';
@import '../blanks/input-body/input-body.scss';

@include input-body();
.input_type_sub {
    position: relative;
    .input__button {
        position: absolute;
        height: 44px;
        right: 10px;
        top: 21px;
    }
    .input__button-icon {
        color: $Purple;
        font-family: 'Material Icons';
        line-height: 44px;
        font-weight: 400;
        font-size: 24px;
    }
}
