@import '../../colors&type/colors&type.scss';
@import '../blanks/input-body/input-body.scss';
@import '../button/button.scss';

.input_type_sub {
  .input__body {
    position: relative;
    .input__arrow-button {
      position: absolute;
      top: 0;
      right: 14.5px;
      height: 44px;

      .input__button-icon {
        color: transparent;
        background: $Purple-Gradient;
        background-clip: text;
      }
    }
  }
}
