include ../blanks/widget-header/widget-header
mixin subscription-text-field(opt)
  +b.input_type_sub(class="_266")
    +widget-header({left_heading:opt.left_heading})
    +e.body()
      +e.INPUT.field(class="subscription-text-field",placeholder!=opt.placeholder)
      +e.button(tabindex="-1")
        +e.SPAN.button-icon(tabindex='-1')="arrow_forward"