include ../blanks/widget-header/widget-header
include ../text-field/text-field.pug
include ../button/button.pug

mixin subscription-text-field(opt={})
  - opt.class=opt.class ? opt.class+ " input_type_sub js-input_type_sub" : "input_type_sub js-input_type_sub"
  +text-field(opt)
    +button({class: "button_type_borderless button_type_arrow"})
