include ../blanks/input-header/input-header
mixin date-dropdown(opt)
  +b.input(class="_150")
    +input-header({left_heading:opt.left_heading})
    +e.body()
      +e.INPUT.field#datepicker(type="text")
       
        