// @import '../../../../reset.scss';
@import 'air-datepicker/air-datepicker.css';
@import '../../colors&type/colors&type.scss';
@import '../blanks/input-body/input-body.scss';

/* Set core body defaults */
body {
    line-height: 1.5;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}
.input_type_ddd {
    * {
        box-sizing: border-box;
    }

    .input__body {
        position: relative;
        .input__field::placeholder {
            color: $Dark-Shade-75;
        }
    }
    .input__arrow-button {
        position: absolute;
        height: 44px;
        right: 10px;
        button {
            margin-top: 0px;
            margin-right: -1px;
        }
    }
}
.air-datepicker {
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    --adp-font-family: 'Montserrat', Arial, sans-serif;
    --adp-font-size: 12px;
    --adp-width: 320px;
    --adp-padding: 0 19px;
    --adp-color: rgba(31, 32, 65, 0.5);
    --adp-color-other-month: rgba(31, 32, 65, 0.25);
    --adp-border-color: rgba(31, 32, 65, 0.25);
    --adp-nav-height: 63px;
    --adp-day-name-color: rgba(188, 156, 255, 1);
    --adp-day-cell-height: 40px;
    --adp-cell-background-color-selected: linear-gradient(
        180deg,
        #bc9cff 0%,
        #8ba4f9 100%
    );
    --adp-cell-background-color-selected-hover: linear-gradient(
        180deg,
        #6fcf97 0%,
        #66d2ea 100%
    );
    --adp-cell-background-color-in-range: none;
    --adp-cell-background-color-in-range-hover: linear-gradient(
        180deg,
        #bc9cff 0%,
        #8ba4f9 100%
    );
    --adp-border-color-inner: transparent;
    --adp-btn-height: 53px;
    --adp-btn-color: rgba(188, 156, 255, 1);
    box-shadow: 0px 10px 20px 0px rgba(31, 32, 65, 0.05);

    &--pointer {
        display: none;
    }
    &-nav {
        padding: 0 15px;
        font-size: 19px;
        font-weight: 700;
        color: $Dark-Shade-100;
    }
    &-nav--action span {
        color: $Purple;
        font-family: 'Material Icons';
        font-weight: 400;
        font-size: 24px;
    }
    &-buttons {
        gap: 124px;
    }
    &-button {
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
    }
    &-button span {
        margin-top: 1px;
    }
    &-body--day-names {
        margin-top: 21.5px;
        margin-bottom: 11px;
    }
    &-body--day-name {
        @include Label-text;
        text-transform: none;
        margin-left: 2px;
    }
    &-cell.-selected- {
        border-radius: 50%;
        background: $Green-Gradient;
    }
    .air-datepicker-cell .-day- .-selected- .-focus- {
        background: $Green-Gradient;
    }
    .air-datepicker-cell.-range-from- {
        border: 1px solid var(--adp-cell-border-color-in-range);
        background: $Purple-Gradient;
    }
    .air-datepicker-cell.-range-from-::before {
        content: '';
        height: 40px;
        width: 20px;
        right: 0;
        position: absolute;
        background: $Purple-Gradient;
        opacity: 0.25;
        z-index: -2;
    }
    .air-datepicker-cell.-range-to- {
        background: $Purple-Gradient;
    }
    .air-datepicker-cell.-range-to-::before {
        content: '';
        height: 40px;
        width: 20px;
        left: 0;
        position: absolute;
        background: $Purple-Gradient;
        opacity: 0.25;
        z-index: -2;
    }
    .air-datepicker-cell.-in-range-::after {
        content: '';
        height: 40px;
        width: 40px;
        position: absolute;
        background: $Purple-Gradient;
        opacity: 0.25;
    }
    .air-datepicker-cell.-focus- {
        border-radius: 50%;
    }
}
.air-datepicker.-inline- {
    position: absolute;
    top: 60px;
}
