include ../blanks/input/input.pug
mixin date-dropdown(opt)
  - opt.class=opt.class + ' input_type_ddd js-input_type_ddd js-input_type_expandable'
  +input(opt)
    input.input__field.js-input__field.js-datepicker(type="text", placeholder!= opt.inner_text, value=opt.initial_value)
        