include ../blanks/widget-header/widget-header
mixin date-dropdown(opt)
  +b.input(class!=`_${opt.width} _type_ddd`)
    +widget-header({left_heading:opt.left_heading})
    +e.body()
      +e.INPUT.field.datepicker(type="text", placeholder!= opt.inner_text, class!=opt.class, value=opt.initial_value)
        