@import '../../colors&type/colors&type.scss';
@import '../blanks/input-body/input-body.scss';

.input_type_drp {
    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }
    .input__body {
        .input__field {
            letter-spacing: 0;
        }
        .select-list {
            display: none;
        }
    }
    .input__inner {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .input__arrow-button {
            margin-right: -25px;
            margin-top: 3px;
        }
    }
}
.input_type_drp.input_expanded {
    .input__body {
        position: relative;
        .input__placeholder_type_invalid {
            color: red;
        }
        .input__description {
            width: 100%;
            position: absolute;
            left: 0;
            top: 43px;
            border: 1px solid $Dark-Shade-50;
            border-radius: 0 0 4px 4px;
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
        }

        .select-list {
            display: block;
            margin: 0;
            padding: 1px 0 5px 0;
            &__item {
                @include Label-text;
                color: $Dark-Shade-100;
                height: 37px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 6px 0 14px;
            }
            &__handler {
                width: 91px;
                display: flex;
                align-items: center;
                align-self: flex-end;
                justify-content: space-between;
                padding-bottom: 2px;
            }

            &__button {
                margin-left: -1px;
                padding: 0;
                background-color: transparent;
                cursor: pointer;
                width: 30px;
                height: 30px;
                border: 1px solid $Dark-Shade-25;
                border-radius: 50%;
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                color: $Dark-Shade-50;
            }
            &__item-value {
                margin-top: -2px;
                margin-left: -1px;
            }
            &__button[disabled] {
                opacity: 0.38;
            }
            &__controls {
                height: 39px;
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                padding: 0 7px 0 15px;
                background-color: #fff;
            }
            &__controls[hidden] {
                display: none;
            }
            &__control-button {
                margin: 0;
                padding: 0;
                height: 28px;
                align-self: flex-end;
                span {
                    @include Label-text();
                    color: $Purple;
                }
            }
            &__control-button_type_clear {
                span {
                    margin-left: -2px;
                }
            }
            &__control-button_type_submit {
                span {
                    margin-right: -1px;
                }
            }
        }
    }
}
