include ../blanks/input-header/input-header
mixin dropdown(opt)
  +b.input_type_drp(class="_320", data-value!=opt.items)
    +input-header({left_heading:opt.left_heading,right_heading: opt.right_heading})
    +e.body()
      +e.field
        +e.inner
          +e.placeholder(data-value!=opt.inner_text)= opt.inner_text
      +e.description
        +b.UL.select-list
          - var n=0
            each val, key in opt.items
              +e.LI.item(data-number= n++)
                +e.SPAN.name(data-value!= val)= key
                +e.handler
                  +e.BUTTON.button_type_decrease(disabled = val == 0 ? true: false)= "-"
                  +e.item-value= val
                  +e.BUTTON.button_type_increase= "+"
          +e.controls(hidden = opt.btnHiden ? opt.btnHiden : true)
            +e.BUTTON.control-button_type_submit
              +e.SPAN= "Применить"
            +e.BUTTON.control-button_type_clear
              +e.SPAN= "Очистить"