include ../blanks/input-header/input-header
mixin dropdown(opt)
  +b.input(class="_320")
    +input-header({left_heading:opt.left_heading,right_heading: opt.right_heading,modifier:"default"})
    +e.body()
      +e.field
        +e.inner()
          +e.placeholder(data-value!=opt.inner_text)= opt.inner_text
          +e.BUTTON.button(type!=opt.button-type)
      +e.description
        +b.UL.select-list
          - var n=0
            each item in opt.items
              +e.LI.item
                +e.SPAN.name= item
                +e.handler
                  +e.BUTTON.button_type_decrease._type_disabled= "-"
                  +e.item-value= 0
                  +e.BUTTON.button_type_increase= "+"