@import '../../colors&type/colors&type.scss';
@include input-body();

.input_type_ecb {
    .input__body {
        height: 44px;
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        @include Label-text();
        color: $Dark-Shade-100;
    }
    .input__arrow-button {
        margin-right: 11px;
    }
    fieldset.input__description {
        display: none;
    }
}
.input_type_ecb.input_expanded {
    fieldset.input__description {
        position: absolute;
        top: 44px;
        display: block;
        width: 100%;
        justify-content: space-between;
        @include Label-text();
        padding-left: 0;
        color: $Dark-Shade-100;
        background-color: #fff;
    }
    .input__checkbox-item {
        display: block;
        @include Body-text();
        letter-spacing: 0;
        position: relative;
        color: $Dark-Shade-50;
        margin-left: 30px;
        height: 30.3px;
        cursor: pointer;
        input {
            opacity: 0;
            position: absolute;
            left: -34px;
            height: 20px;
            width: 20px;
        }
        input + .input__checkbox {
            position: absolute;
            left: -30px;
            top: 2px;
            height: 20px;
            width: 20px;
            border: 1px solid $Dark-Shade-25;
            border-radius: 4px;
            cursor: pointer;
        }
        input:checked + .input__checkbox {
            border: 1px solid $Purple;
            background: url('./img/Vector.png') no-repeat center;
        }
    }
}
