mixin advantage-item(opt)
  .advantage
    .advantage__inner
      .advantage__icon 
        SPAN.advantage__icon-text= opt.icon
      .advantage__description 
        .advantage__title= opt.title
        .advantage__text= opt.text