@import "../../../colors&type/colors&type.scss";
.input__header {
  display: flex;
  justify-content: space-between;
  height: 21px;
}
.input__header_default {
  width: 320px;
}
.input__left-heading {
  @include Label-text();
  color: $Dark-Shade-100;
}
.input__right-heading {
  @include Label-text();
  color: $Dark-Shade-50;
  font-weight: 400;
}
