@import '../../colors&type/colors&type.scss';
@import 'nouislider/dist/nouislider.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.range-slider {
    margin-top: 39px;
    margin-bottom: 10px;
    .input_service {
        width: 266px;
        position: absolute;
        top: -41px;
        .input__left-heading {
            margin-top: 0.5px;
            margin-left: -1px;
        }
        .input__right-heading {
            margin-right: 1px;
            span {
                font-weight: 400;
            }
        }
    }
    width: 266px;
    height: 6px;
    border-radius: 3px;
    background: #ffffff;
    border: 1px solid $Dark-Shade-25;
    box-shadow: none;
    .noUi-handle {
        width: 16px;
        height: 16px;
        right: -6px;
        top: -6px;
        border-radius: 50%;
        box-shadow: none;
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        border: 2px solid #ffffff;
    }
    .noUi-handle::before {
        display: none;
    }
    .noUi-handle::after {
        display: none;
    }
    .noUi-connects {
        position: static;
    }
    .noUi-connect {
        background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
        margin-top: -1px;
        height: 6px;
    }
}
