@import '../../colors&type/colors&type.scss';
@import '../blanks/checkbox/checkbox.scss';

.input_type_rb {
    display: flex;
    .input__body {
        display: flex;
        flex-direction: column;
        .input__checkbox-item {
            padding-top: 1px;
            padding-right: 20px;
            line-height: 18px;
            input + .input__checkbox {
                top: 1px;
                border: 1px solid $Dark-Shade-25;
                border-radius: 50%;
            }
            input:checked + .input__checkbox:after {
                content: '';
                position: absolute;
                left: 3px;
                top: 3px;
                height: 12px;
                width: 12px;
                border-radius: 50%;
                background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
            }
        }
    }
}
