include ~bemto.pug/bemto_webpack
doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Toxin"
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/ico" href="Group.jpg")
  body
    include pages/ui-kit/formElements/formElements.pug
    
      