@import '../../../colors&type/colors&type.scss';

@mixin input-body {
    * {
        box-sizing: border-box;
    }
    .input_expanded {
        position: relative;
        z-index: 10;
    }
    .input_320 {
        width: 320px;
    }
    .input_150 {
        width: 150px;
    }
    .input_266 {
        width: 266px;
    }
    .input_222 {
        width: 222px;
    }
    .input__body {
        display: flex;
    }
    .input__field {
        font-family: inherit;
        display: flex;
        overflow: hidden;
        width: 100%;
        @include Body-text();
        height: 44px;
        border: 1px solid $Dark-Shade-25;
        border-radius: 4px;
        padding: 0 35px 2px 14px;
        color: $Dark-Shade-75;

        &::placeholder {
            font-size: 1rem;
            line-height: 18px;
            // letter-spacing: 1.3px;
            vertical-align: bottom;
            color: $Dark-Shade-25;
        }
        &:hover,
        &:focus {
            border: 1px solid $Dark-Shade-50;
            outline: none;
        }
    }
}
.input_expanded .input__field {
    border-radius: 4px 4px 0 0;
    border-color: $Dark-Shade-50;
}
